---
import { Image } from "astro:assets";
import type { BraidsType } from "src/interface/braidsPrices.interface";

interface Props {
  data: BraidsType;
}

const hrefWa = "https://wa.me/50766533136"
const { data } = Astro.props;
const { id, name, description, prices} = data;

---

<div class="flex m-auto flex-col justify-center items-center w-fit">
  <div class="max-w-sm w-full m-auto rounded-2xl my-15 overflow-hidden shadow-lg ">
    <Image
      class={"w-full h-64"}
      width={10}
      format="jpeg"
      height={10}
      src={`/braids/braid-${id}.jpeg`}
      alt={name}
    />
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{name}</div>
      <p class="text-gray-700 text-base">
        {description}
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      {
        prices.map( ({total}) =>(
          <span class="inline-block bg-gray-500 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2 mb-2">
            <a class="hover:cursor-pointer" href={hrefWa}> ${total}</a>
          </span>
        ))
      }
    </div>
  </div>
</div>
