---
import InfoExtra from './InfoExtra.astro';
import IconAction from './IconAction.astro';

export const prerender = true

const {id, name, description, prices} = Astro.props
---

<div id="parent-info" class="flex flex-row p-5 bg-[#cbcbde] w-full">
    <h1 class="font-bold text-gray-700 hover:cursor-pointer animate-pulse">
    <a href={"/braid/" + id}>{name}</a>  
    </h1>
    <div class="flex-1"></div>
  
    <div class="flex flex-row justify-center flex-wrap">
    <p id={`price-braid-${1}`} class="font-bold text-[#363636]">${prices[0].total}</p>
           <IconAction id={id}/>
    </div>
</div>
<InfoExtra id={id} prices={prices} /> 